* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* border: 1px solid red; */
}

.width-limiter {
    max-width: 800px;
    margin: auto;
}

.bg-header {
    background-color: #1f2937;
}

.bg-section {
    background-color: #fff;
}

.bg-quote {
    background-color: #e5e7eb;
}

.bg-img {
    background-color: gray;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
    align-items: center;
}

.flex1 {
    flex:1 1 auto;
}

.flex-column {
    flex-direction: column;
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}
.flex-align-end {
    justify-self: flex-end;
}
.flex-self-stretch {
    align-self: stretch;
}

.text-center { text-align:center; }
.text-right { text-align:right; }

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

.header-link {
    color: #f9faf8;
    margin: 8px;
}

.hero {
    padding: 40px 0px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 20px;
    border-radius: 3px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

    text-align: center;
    padding: 1rem 0 0 0;
}

.info-tab {
    padding: 1rem 0rem 2rem 0rem;
    gap: 2vw;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.info-tab div {
    width: 10vw;
}

.info-tab-spacer {
    justify-self: center;
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 10vw;
}

.quote-box {
    width: 550px;
    margin: 6rem auto;
}

.quote-box > div:first-of-type {
    font-size:36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}


.call-action {
    margin: 6rem auto;
    color: #F9FAF8;
}

.call-action > div {
    background-color:#3882f6;
    border-radius: 5px;
    padding: 2rem 5rem;
}
.call-action > div > div:nth-of-type(2) {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    flex: 0 0 auto;
}

.copy-text {
    padding: 2rem 0;
    color: #F9FAF8;
    text-align: center;
}